
/* css */

#link1, #link2, #link3 {
    padding-right: 20px;
}
#row1 {
    font-family: 'Bebas Neue', sans-serif;
}
#row2, #row3, #row4, #row5 {
    font-family: 'Brawler', serif;
}
#map {
    height: 300px;
    width: 500px
}
.image-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.image-button.clicked {
    box-shadow: 0 12px 16px 0 rgba(0, 34, 255, 0.24), 0 17px 50px 0 rgba(0, 34, 255,0.19);
}
#row1 {
    background-color: #dc1a21;
}
#cityImage {
    max-height: 500px;
}