
/* css */

#link1, #link2, #link3 {
    padding-right: 10px;
}
#row1 {
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 25px;
    background-color: #dc1a21;
    color: black;
}
#row2, #game-container, #row3, #row4, #row5 {
    font-family: 'Brawler', serif;
}
#map {
    height: 300px;
    width: 500px
}
.image-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.image-button.clicked {
    box-shadow: 0 12px 16px 0 rgba(0, 34, 255, 0.24), 0 17px 50px 0 rgba(0, 34, 255,0.19);
}
.image-button.active {
    box-shadow: 0 12px 16px 0 rgba(0, 34, 255, 0.24), 0 17px 50px 0 rgba(0, 34, 255,0.19);
}
#cityImage {
    max-height: 500px;
}
#userGuess {
    border-radius: 5px;
    padding-bottom: 8px;
}
a:link {
    text-decoration-line: none;
}